$color_font: #222;
$color_gray: #888;
$color_bg: #eeeeee;
$color_2: #888;
$color_3: #333;
$color_4: #f1b400;
$color_5: rgba(255, 255, 255, 0.6);
$font-family_1: Raleway, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

@charset "UTF-8";
/* --------------------------------
 * base
 * -------------------------------- */
/* --------------------------------
 * parts
 * -------------------------------- */
/* --------------------------------
 * header
 * -------------------------------- */
/* --------------------------------
 * about
 * -------------------------------- */
/* --------------------------------
 * items
 * -------------------------------- */
/* --------------------------------
 * skills
 * -------------------------------- */
/* --------------------------------
 * contact
 * -------------------------------- */
/* --------------------------------
 * footer
 * -------------------------------- */
/* --------------------------------
 * smart phone
 * -------------------------------- */
/* --- header --- */
/* --- about --- */
/* --- items --- */
/* --- skills --- */
/* --- contact --- */
html {
  font-size: 62.5%;
}
body {
  background-color: $color_bg;
  color: $color_font;
  text-align: center;
  font-size: 1.4rem;
  font-family: $font-family_1;
  a:link, a:visited {
    color: $color_font;
    text-decoration: none;
  }
}
* {
  box-sizing: border-box;
  &::before {
    box-sizing: border-box;
  }
  &::after {
    box-sizing: border-box;
  }
}
.container {
  overflow: hidden;
}
header.header{
  padding: 10px;
  border-bottom: solid 1px;
  .logo {
    font-size: 2rem;
    vertical-align: middle;
    img {
      width: 25px;
      height: 25px;
      vertical-align: middle;
    }
  }
}
.heading {
  position: relative;
  display: inline-block;
  margin: 30px 0 15px;
  padding-bottom: 15px;
  letter-spacing: 2px;
  font-size: 4rem;
  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #999;
  }
}
.site-title-header {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 170px 30px 80px;
  width: 100%;
  height: 500px;
  background: url("../images/header_bg.jpg") no-repeat center center;
  margin: 0 auto;
  overflow: hidden;
  a:link, a:visited {
    color: $color_bg;
  }
//   background-attachment: fixed;

}
.site-title {
  font-size: 7.6rem;
  margin: 30px;
}
.item-title {
  text-align: left;
  font-size: 3rem;
  margin: 10px 20px 10px 20px;
}
.site-description {
  margin-bottom: 50px;
  color: $color_2;
  font-size: 1.6rem;
}
.buttons {
  .button {
    margin: 10px;
  }
}
.news {
  padding: 50px 30px;
}
.news-list {
  margin: 30px auto;
  width: 600px;
  li {
    text-align: left;
    line-height: 2;
    list-style-type: none;
    font-size: 2rem;
  }
}
.items {
  padding: 50px 0;
}
.items-wrapper {
  display: flex;
  width: 100%;
  margin-top: 60px;
  flex-wrap: wrap;
  justify-content: center;
}
.item-box {
  width: 480px;
  margin: 30px auto;
  position: relative;
}
.item-image {
  display: block;
  width: 100%;
}
.item-description {
  overflow-y: auto;
  margin: 30px auto;
}
.item-description-inner {
  display: table;
  width: 100%;
  height: 100%;
}
.item-text {
  display: table-cell;
  vertical-align: middle;
  font-size: 3rem;
}
.footer {
  padding: 12px 0;
  font-size: 1.3rem;
}

.detail-carousel {
  margin: 0 auto;
  max-width: 100%;

  img {
    margin: 0px;
  }

  > .slick-arrow::before {
    color: $color_gray;
  }

  > .slick-prev {
    left: 5%;
    z-index: 1;
  }

  > .slick-next {
    right: 5%;
    z-index: 1;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 1.3rem;
  }
}
