!!!
%html{lang: "ja"}
  %head
    %meta{charset: "UTF-8"}/
    %meta{content: "width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no", name: "viewport"}/
    %title petit ballon
    %link{href: "http://fonts.googleapis.com/css?family=Raleway:700,400", rel: "stylesheet"}/
    %link{href: "http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", rel: "stylesheet"}/
    %link{href: "css/normalize.css", rel: "stylesheet"}/
    %link{href: "css/style.css", rel: "stylesheet"}/
    %link{href: "css/slick.css", rel: "stylesheet"}/
    %link{href: "css/slick-theme.css", rel: "stylesheet"}/
    %script{src: "js/bundle.js"}/
  %body
    %header.header
      .logo
        %a{href: "/"}
          %img.logo{src: "images/logo.png"}
          %img.title{src: "images/site_title_black.png", alt: "petit ballon"}
    .container
      %div.item-title financier
      %div.detail-carousel{style: "display:none;"}
        %a{href: "images/financier/big/1.jpg"}
          %image{src: "images/financier/1.jpg"}
        %a{href: "images/financier/big/2.jpg"}
          %image{src: "images/financier/2.jpg"}
        %a{href: "images/financier/big/3.jpg"}
          %image{src: "images/financier/3.jpg"}
        %a{href: "images/financier/big/4.jpg"}
          %image{src: "images/financier/4.jpg"}
        %a{href: "images/financier/big/5.jpg"}
          %image{src: "images/financier/5.jpg"}
        %a{href: "images/financier/big/6.jpg"}
          %image{src: "images/financier/6.jpg"}
        %a{href: "images/financier/big/7.jpg"}
          %image{src: "images/financier/7.jpg"}
      %footer.footer
        ©petit ballon
