!!!
%html{lang: "ja"}
  %head
    %meta{charset: "UTF-8"}/
    %meta{content: "width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no", name: "viewport"}/
    %title petit ballon
    %link{href: "http://fonts.googleapis.com/css?family=Raleway:700,400", rel: "stylesheet"}/
    %link{href: "http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", rel: "stylesheet"}/
    %link{href: "css/normalize.css", rel: "stylesheet"}/
    %link{href: "css/style.css", rel: "stylesheet"}/
    %link{href: "css/slick.css", rel: "stylesheet"}/
    %link{href: "css/slick-theme.css", rel: "stylesheet"}/
    %script{src: "js/bundle.js"}/
  %body
    .container
      %header.header
        %h1.site-title petit baloon
      %section#news.news
        %h2.heading NEWS
        %ul.news-list
          %li
            2016.4.6〜8  EXPO出店
          %li
            2015.11.1 petit ballon ブランドスタート
      %section.items
        %h2.heading items
        .items-wrapper
          .item-box
            %a{href: "lecrin.html"}
              %img.item-image{alt: "lecrin", src: "images/lecrin.jpg"}/
              .item-description
                .item-description-inner
                  %p.item-text
                    lecrin
          .item-box
            %img.item-image{alt: "papillon", src: "images/papillon.jpg"}/
            .item-description
              .item-description-inner
                %p.item-text
                  papillon
          .item-box
            %img.item-image{alt: "biscuit", src: "images/biscuit.jpg"}/
            .item-description
              .item-description-inner
                %p.item-text
                  biscuit
          .item-box
            %img.item-image{alt: "carton", src: "images/carton.jpg"}/
            .item-description
              .item-description-inner
                %p.item-text
                  carton
          .item-box
            %img.item-image{alt: "coussin", src: "images/coussin.jpg"}/
            .item-description
              .item-description-inner
                %p.item-text
                  coussin
      %footer.footer
        ©petit baloon
